* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --navbar: rgb(255, 255, 255);
  --nav-text: rgb(30, 83, 163);
  --text: rgb(20, 20, 20);
  --accent: rgba(228, 57, 5, 0.966);
  --accentRed: rgba(9, 71, 141, 0.541);
  --hover:  #87a5f080;
  --PrimaryText: "Rubik";
  --SecondText: "Aboreto";
}

body {
  background-color: #ede4dc;
}

/*  search start   */

.navbar {
  display: flex;
  position: fixed;
  font-family: var(--PrimaryText);
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255, 1);
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 4px 12px;
  box-shadow: 0.2px 0.2px 2px rgba(228, 227, 227, 0.651);
  z-index: 1;
}

.navbar ul {
  margin: 0;
}

.nav__logo {
  color: var(--nav-text);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav__logo img {
  height: 30px;
  width: auto;
}

.nav__menu {
  list-style: none;
  display: flex;
  padding-right: 40px;
  font-weight: bold;
}

.nav__menu li {
  position: relative;
  padding: 8px 32px;
  margin: 6px 18px;
}

.navbar a {
  text-decoration: none;
  color: var(--nav-text);
}

.nav__menu li:hover {
  background-color: #98bbfd17;
  color: white;
  border: 2px ridge #87a5f080;
  border-radius: 5px;
  text-align: center;
  text-justify: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.863);
  box-shadow: 0.2px 0.2px 2px rgba(255, 255, 255, 0.651),
    2px 2px 4px rgba(110, 110, 110, 0.651);
  padding: 6px 30px;
}

.nav__icons {
  list-style: none;
  display: flex;
  color: rgb(8, 40, 88);
  text-shadow: 0.2px 0.2px 2px rgba(255, 255, 255, 0.651),
  2px 2px 4px rgba(110, 110, 110, 0.651);  
}

.nav__icons a {
  color: var(--nav-text);
  display: flex;
  text-align: start;
}

.nav__icons li {
  padding: 8px 12px;
}

.nav__menu.active,
.nav__icons.active {
  display: flex;
}

/* Media Query start */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 40px;
  }

  .nav__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav__menu li {
    width: 100%;
    text-align: center;
  }

  .nav__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .column {
    width: 100%;
  }

  .box-container {
    width: 100%;
  }
}

span {
    color: var(--accent);
}